{% extends 'blog/base.html' %}
{% block content %}
<div class='testo'>
    <p>El caniche (en inglés, poodle) es una raza canina que hasta el siglo XV se consideró de uso exclusivo de los aristócratas y nobles. Fue un perro cobrador de aguas hasta el Renacimiento: recuperaban las presas ya cazadas que habían caído al agua, como patos y cisnes. Hoy en día se les encuentra frecuentemente en las exposiciones caninas de belleza. Existen cuatro variedades: grande, mediano, enano y toy.</p>
    <p>Son unos perros alegres, juguetones y muy activos. No se distraen fácilmente, esto los hace muy receptivos a la hora de adiestrarlos (tanto en obediencia como en agility). Son perros metódicos, energéticos, excelentes con los niños aunque si no se les adiestra y socializa correctamente pueden llegar a ser destructivos. .</p>
    <img class='image' src="https://img1.picmix.com/output/stamp/normal/4/7/2/9/1549274_d313f.gif" width="100" height="100" >
</div>   
    
<div class="content container">
    <div class="row">
        <div class="col-md-8">
            {% for post in posts %}
                <div class="post">
                    <div class="date">
                        <p>publicado: {{ post.published_date }}</p>
                    </div>
                    <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</div>

<div class='mejor'>
    <p class='pregunta'>¿Quien es el mejor Caniche?<p>
    <form>
        <!--https://www.w3schools.com/charsets/ref_emoji.asp-->
        <button formaction="https://www.instagram.com/p/CC6-lrxlVcn/">Rogers <3</button>
        <button formaction="https://www.instagram.com/p/B2k5eGkl4nZ/">Rogers >:C</button>
        <button formaction="https://www.instagram.com/p/CMi_R3ZlIdu/">Coronel Sandia &#x1F349;</button>
        <button formaction="https://www.instagram.com/p/CHlRPNtFhsb/">Perro Globo  &#x1F388;</button>
        <button onclick="test()">El Rogers No &#x274C;</button>
    
    </form>
</div>   
<script>
    function test(){
        alert('KE WEA CHUSHESUMARE QLO, \nel Rogers es el besto caniche \nuwu')
    }
</script>
{% endblock %}